<%= turbo_frame_tag dom_id(post) do %>

  <div class="mb-4 card card-body">
    <div style='margin: 10px 0 0 10px;''>
      <strong class="fs-4 text-gray">Title:</strong>
      <span class='fs-4 text-gray-light'>
        &nbsp;<%= post.title %>
      </span>
    </div>
    <blockquote class='row'>
      <div class='col-md-9'>
        <strong class='fs-5 text-gray'>Content:</strong>
        <span class='fs-5 text-gray-light'>
          <%= post.content %>
        </span>
      </div>

      <div class='col-md-3'>
        <div class="flex justify-content-end">
          <strong class='fs-5 text-gray'>Vote:</strong>
          <span class='fs-5 text-gray-light fw-bold ml-1'>
            &nbsp;<%= post.vote %>
          </span>
        </div>
        <div class='flex justify-content-end gap-2 align-items-center mt-2'>
          <div class="flex <%= 'd-none' if action_name == 'show' %>" >
            <%# params_filter = ActionController::Parameters.new({ filter: request.params.present? }).permit! %>
            <%#= link_to "Show", post_path(post, params: params_filter), class: 'link-nav' %>
            <%= link_to "Show", post, class: 'link-nav', data: {turbo_frame: :_top } %>
          </div>
          <%= button_to "Destroy", post, method: :delete, class: 'btn btn-outline-warning' %>
          <%= link_to "Edit", edit_post_path(post),
                              class: 'btn btn-warning' %>
        </div>
      </div>
    </blockquote>
  </div>
<% end %>
