<p style="color: green"><%= notice %></p>

<%= link_to "Back to posts", posts_path, class: 'link-nav mb-4' %>
<div class="mt-4" id='post-item'>
  <%= render @post %>
</div>

<div class='flex gap-2 align-items-center'>
  <%= button_to "Destroy", @post, method: :delete, class: 'btn btn-outline-warning' %>
  <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-warning' %>
</div>
